.buttons {
   display: flex;
   justify-content: flex-end;
   margin-top: 15px;
   position: absolute;
   bottom: 0;
   right: 10px;
   column-gap: 20px;
   @media screen and (max-width: 800px) {
      display: none;
   }
   .next,
   .previous {
      background-color: $btn-color;
      width: 160px;
      padding: 15px 30px;
      border-radius: 15px;
      /* border-top-left-radius: 40px;
      border-bottom-right-radius: 40px; */
      display: flex;
      justify-content: center;
      cursor: pointer;
      animation: btn 0.5s ease;
      transition: all 0.3s ease;
      user-select: none;
   }
 
   @keyframes btn {
      0% {
         opacity: 0;
      }
      100% {
         opacity: 1;
      }
   }
   .next:hover {
      box-shadow: 0 0 15px dodgerblue;
   }
   .next {
      border-top-left-radius: 40px;
      border-bottom-right-radius: 40px;
   }
   .previous {
      backdrop-filter: blur(1.5rem);
      background-color: rgba(255, 255, 255, 0.04);
      border-top-right-radius: 40px;
      border-bottom-left-radius: 40px;
   }
}