.contact {
  
   width: 100%;
   max-width: 830px;
   margin-bottom: 200px;
   @media screen and (max-width: 850px) {
      max-width: 780px;
   }
   @media screen and (max-width: 800px) {
      margin-top: 150px;
   }
   h1 {
      font-size: 2rem;
      
   }
   .contact__with--me {
      margin-top: 15px;
      padding-top: 15px;
      display: flex;
      justify-content: space-between;
      border-top: 2px solid;
    
      .contact__mail {
         width: 50%;
         display: flex;
         justify-content: space-between;
         
         @media screen and (max-width: 571px) {
            flex-direction: column;
            
         }
         & h2:nth-child(2) {
            color: $btn-color;
            font-weight: lighter;
            margin-left: 20px;
            @media screen and (max-width: 571px) {
               margin: 20px 0 0 0;
               font-size: 1.2rem;
            }

           
         }
         @media screen and (max-width: 800px) {
            width: 100%;
            margin-bottom: 20px;
         }
      }
      .contact__soc {
         display: flex;
         justify-content: space-between;
         width: 45%;
         @media screen and (max-width: 800px) {
            width: 100%;
         }
         @media screen and (max-width: 571px) {
            flex-direction: column;
         }
         .contact__social {
            @media screen and (max-width: 571px) {
               width: fit-content;
            }
            & a:first-child {
               h2 {
                  padding-top: 0px;
                  @media screen and (max-width: 571px) {
                     padding-top: 20px;
                  }
               }
            }
            & a {
               
               text-decoration:  none;
               color: dodgerblue;
               transition: all 0.3s ease-in-out;
               h2 {
                  padding-top: 15px;
                  font-weight: lighter;
                  transition: all 0.3s ease-in-out;
                  @media screen and (max-width: 571px) {
                     font-size: 1.2rem;
                  }
               }
            }
            & a:hover h2 {
              animation: social 1s infinite;
              @keyframes social {

               0% {
                  transform: translateX(-10%);
               }
               50% {
                  transform: translateX(10%);
               }
               100% {
                  transform: translateX(-10%);
               }
              }
            }

         }
      }
      @media screen and (max-width: 800px) {
         flex-wrap: wrap;
         flex-direction: column;
      }
   }
}
