.home {
   color: white;
   width: 100%;
   max-width: 1030px;
   /* width: fit-content; */
   
   @media screen and (max-width: 1400px) {
      max-width: 930px;
   }
   @media screen and (max-width: 1200px) {
      max-width: 830px;
   }
   @media screen and (max-width: 800px) {
      height: 100%;
   }
   .home__wrap {
      position: relative;
      /* @media screen and (max-width: 1200px) {
         display: flex;
         flex-direction: column;
         align-items: center;
      } */
      
      & .home__title {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-bottom: 15px;
         width: 100%;
         max-width: 830px;
         @media screen and (max-width: 800px) {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 40px;
         }
         & .welcome {
            font-size: 2rem;
            animation: welcome 0.5s ease;
            margin-bottom: 20px;
         }
         @keyframes welcome {
            0% {
               transform: translateY(100%);
               opacity: 0;
            }
            100% {
               transform: translateY(0);
               opacity: 1;
            }
         }
         &--btn {
            background-color: $yellow;
            color: black;
            padding: 20px 40px;
            border-radius: 15px;
            border-top-left-radius: 40px;
            border-bottom-right-radius: 40px;
            cursor: pointer;
            animation: contact 4s ease;
            transition: all 0.3s ease;
            text-align: center;
            @media screen and (max-width: 800px) {
               width: 100%;
            }
         }
         &--btn:hover {
            /* filter: brightness(120%); */
            box-shadow: 0 0 15px $yellow;
         }
         @keyframes contact {
            0% {
               opacity: 0;
            }
            50% {
               opacity: 0;
            }
            100% {
               opacity: 1;
            }
         }
      }
      & .home__description--contactme {


         /* display: none; */
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         /* background-color: black; */
         background-image: radial-gradient(584.01% 313.9% at 136.35% 293.94%, #1D1D1D 0%, rgba(0, 0, 0, 0.10) 0.01%, rgba(29, 29, 29, 0.87) 80.13%);
         z-index: 2;
         display: flex;
         justify-content: center;
         align-items: center;
         visibility: hidden;

         .home__description--menu {
            /* display: none; */
            width: 100%;
            max-width: 836px;
            max-height: 450px;
            border-radius: 4rem 2rem;
            background-color: rgba(255, 255, 255, 0.03);
            backdrop-filter: blur(1.5rem);
            padding: 3rem;
            transition-duration: 400ms;
            transform: scale(0);
            
            .home__description--close-btn {
               width: 100%;
               height: 40px;
               display: flex;
               justify-content: flex-end;
               align-items: center;
               
               .home__description--icon {
                  width: 40px;
                  height: 40px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  position: relative;
                  cursor: pointer;
                  .first__line,
                  .second__line {
                     width: 100%;
                     height: 4px;
                     border-radius: 2px;
                     background-color: white;
                  }
                  .first__line {
                     transform: rotate(45deg)
                  }
                  .second__line {
                     position: absolute;
                     transform: rotate(-45deg)
                  }
               }
            }
            .home__description--row {
               display: flex;
               justify-content: space-between;
               min-width: 100%;
               margin-bottom: 20px;
               
               .home__description--item {
                  width: 50%;
               }

            }
            
            & .label {
               margin-bottom: 10px;
            }
            & input {
               width: 100%;
               height: 59px;
               padding: 0 2.6rem;
               border-radius: .8rem 4rem;
               background-color: rgba(255, 255, 255, 0.04);
               border: .3rem solid transparent;
               transition-duration: 200ms;
               font-size: .9rem;
               font-weight: 700;
               line-height: 1;
               color: white;
               outline: none;
            }
            & input:focus-within {
               outline: 3px solid teal;
               outline-offset: -2px;
               
            }
            & .button__submit {
               background-color: $yellow;
               color: black;
               padding: 20px 40px;
               margin-top: 20px;
               border-radius: 15px;
               border-top-left-radius: 40px;
               border-bottom-right-radius: 40px;
               cursor: pointer;
            }
         }
         .home__description--menu.active {
            
            transform: scale(1);
         }
      }
      & .home__description--contactme.active {
         visibility: visible;
      }
      & .home__description {
         background: rgba(255, 255, 255, 0.04);
         -webkit-backdrop-filter: blur(1.5rem);
         backdrop-filter: blur(1.5rem);
         width: 100%;
         max-width: 830px;
         height: 300px;
         border-radius: 25px;
         border-top-left-radius: 60px;
         border-bottom-right-radius: 60px;
         transition-property: opacity;
         opacity: 1;
         overflow: hidden;
         padding: 60px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         line-height: 1.7;
         animation: 1s ease block;
         @media screen and (max-width: 1400px) {
            height: 260px;
         }
         
         @media screen and (max-width: 650px) {
            height: 100%;
            padding: 40px;
         }
         @media screen and (max-width: 450px) {
            padding: 20px;
         }

         & h1 {
            font-size: 1.5rem;
            animation: aboutme 3s ease;
         }
         @keyframes aboutme {
            0% {
               
               transform: translateY(50%);
               opacity: 0;
            }
            50% {
         
               transform: translateY(50%);
               opacity: 0;
            }
            100% {
               transform: translateY(0);
               opacity: 1;
            }
         }
      }
      & .home__description::before {
         content: '';
         width: 278px;
         height: 278px;
         position: absolute;
         top: -38%;
         border-radius: 50%;
         background-color: rgba(83, 120, 216, 0.67);
         -webkit-filter: blur(8.2rem);
         filter: blur(8.2rem);
         box-sizing: inherit;
      
      }
      & .home__description::after {
         content: '';
         width: 278px;
         height: 278px;
         position: absolute;
         top: 12.5rem;
         right: 5rem;
         border-radius: 50%;
         background-color: rgba(83, 120, 216, 0.67);
         -webkit-filter: blur(8.2rem);
         filter: blur(8.2rem);
         box-sizing: inherit;
      
      }
      @keyframes block {
         0% {
            opacity: 0;
         }
         50% {
            opacity: 0;
         }
         100% {
            opacity: 1;
         }
      }
   }
}

