.pictures {
   /* backdrop-filter: blur(10px); */

   img {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: -1;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   object-fit: cover;
   animation: pict 1s ease;
   filter: brightness(20%);
   /* backdrop-filter: blur(20px); */
   
   }
   .pictures__bg {
      display: none;
   }

   .isActive {
      display: block;
   }
}

@keyframes pict {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}