.projects {
   /* overflow: hidden; */
   i {
      /* color: $btn-color; */
      color: $yellow;
      font-size: 2rem;
      transition: all 0.5s ease;
      
    }
    
   & .projects__h1 {
      font-size: 1.5rem;
      transition: all 0.5s ease;
      transform: translateY(100%);
      opacity: 0;
      margin-bottom: 10px;
      @media screen and (max-width: 800px) {
         margin-bottom: 20px;
      }
   }
   & .projects__h1.show {
      transform: translateX(0);
      opacity: 1;
   }
   @media screen and (max-width: 800px) {
      margin-top: 150px;
   }
   &__wrapp {

      width: 100%;
      max-width: 1030px;
      display: flex;
      flex-wrap: wrap;
      line-height: 1.7;
      gap: 10px;
      
      @media screen and (max-width: 1600px) {
         max-width: 900px;
      }
      & a {
         
         color: white;
         text-decoration: none;
         transition: all 0.3s cubic-bezier(0.51, 0.04, 0.63, 1.4);
         overflow: hidden;
        /*  h1 {
            transition: all 0.65s cubic-bezier(0.68, -0.12, 0.78, 1.6);
         } */
          img {
            width: 100%;
            height: auto;
          }
          
      }
      .projects__site {
         background: rgba(255, 255, 255, 0.04);
         padding: 20px;
         border-radius: 15px;
         width: calc((100% - 40px) / 4);
         height: 150px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         transition: all 0.5s ease;
         transform: translateY(100%);
         opacity: 0;
         border: 1px solid $btn-color;
         animation: projects 0.5s ease;
         @media screen and (max-width: 1400px) {
            height: 130px;
         }
         @media screen and (max-width: 800px) {
            width: calc((100% - 10px) / 2);
            height: 150px;
            animation:none;
         }
         /* @media screen and (max-width: 520px) {
            width: 100%;
         } */
      }
      @keyframes projects {
        0% {
         transform: translateY(100%);
         opacity: 0;
        } 
        100% {
         transform: translateY(0);
         opacity: 1;
        }
      }
      .projects__site.show {
         transform: translateY(0);
         opacity: 1;
      }
      .projects__site:hover i {
      
        transform: translateX(80%);
        animation: arrow 0.5s 0.5s ease infinite;
        @keyframes arrow {
            0% {
               transform: translateX(80%);
            }
            50% {
               transform: translateX(70%);
            }
            100% {
               transform: translateX(80%);
            }
        }
      }
/*    
      & a:hover .projects__mywork i {
         scale: 1.1;
        
      } */
      
   }
}

