.projects {
   & .projects__h1 {
      @media screen and (max-width: 800px) {
         font-size: 2rem;
         margin-bottom: 20px;
      }
   }
   @media screen and (max-width: 800px) {
      margin-top: 150px;
   }
   &__wrapp {

      width: 100%;
      max-width: 1030px;
      display: flex;
      flex-wrap: wrap;
      line-height: 1.7;
      @media screen and (max-width: 1600px) {
         max-width: 900px;
      }
      & a {
         color: white;
         text-decoration: none;
         transition: all 0.3s cubic-bezier(0.51, 0.04, 0.63, 1.4);
        /*  h1 {
            transition: all 0.65s cubic-bezier(0.68, -0.12, 0.78, 1.6);
         } */
          img {
            width: 100%;
            height: auto;
          }
      }
      .projects__site {
         background: rgba(255, 255, 255, 0.04);
         margin: 10px;
         padding: 20px;
         border-radius: 10px;
         width: calc((100% - 80px) / 4);
         height: 150px;
         /* aspect-ratio: 1/ 1; */
         display: flex;
         align-items: center;
         justify-content: center;
        /*  @media screen and (max-width: 800px) {
            width: calc((100% - 60px) / 3);
         } */
         @media screen and (max-width: 800px) {
            width: calc((100% - 40px) / 2);
         }
         /* @media screen and (max-width: 520px) {
            width: 100%;
         } */
      }
      & a:hover {
         scale: 1.1;
        /*  border-radius: 100%;
         transform: rotate(-90deg);
         & h1 {
            transform: rotate(90deg);
         } */
      }
      
   }
}

