.header__burger {
   width: 100x;
   height: 100px;
   display: none;
   align-items: center;
   justify-content: center;
   /* position: fixed;
   top: 50px;
   right: 20px; */
   @media screen and (max-width: 800px) {
      display: flex;
   }
   &--btn {
      width: 37.5px;
      height: 37.5px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .header__burger--line-centr {
         width: 37px;
         height: 4px;
         background-color: white;
         border-radius: 2px;
         transition: all ease-in-out 0.3s;
         position: absolute;
      }
      .header__burger--line-centr.pressed {
         transform: rotate(-45deg);
      }

      .header__burger--line-top {
         position: absolute;
         top: 20%;
         left: 0px;
         width: 50%;
         height: 4px;
         background-color: white;
         border-radius: 2px;
         transition: all ease-in-out 0.3s;
         
      }
      .header__burger--line-top.pressed {
         transform: rotate(45deg) translate(4px);
      }
      .header__burger--line-bottom {
         position: absolute;
         bottom: 20%;
         right: 0px;
         width: 50%;
         height: 4px;
         background-color: white;
         border-radius: 2px;
         transition: all ease-in-out 0.3s;
      }
      .header__burger--line-bottom.pressed {
         transform: rotate(45deg) translate(-4px);
      }
   }
}